  #produto{
    min-height: 110vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color:rgba(212, 204, 204, 0.864);
  }
  .li1 a, .li2 a {
    color: #fff;
    transition: color 0.3s ease-in-out;
    letter-spacing: 1px;
  }
  nav.menu-texto-escuro .li1 a,
  nav.menu-texto-escuro .li2 a {
    color: #000;
  }
  .produtos-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
    
  }
  .t1{
    margin: 15px 0 5px;
    font-family: 'Arial', sans-serif;
  }
  .card-produto{
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    padding: 10px;
    transition: transform 0.3s ease;
    width: 100%;
    display: block;
    cursor: pointer;
    text-align: center;
    animation: animar infinite ease;
  }
  .card-produto img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  .card-produto h3{
    margin: 15px 0 5px;
    font-size: 1.2rem;
    font-family: 'Arial', sans-serif;
  }
  .card-produto .price{
    font-size: 1.1rem;
    color: green;
    margin-bottom: 10px;
    font-family: 'Arial', sans-serif;
  }
  .card-produto:hover{
    transform: translateY(-10px);
    z-index: 0;
  }

.btn-carrinho {
  position: absolute;
  bottom: 95px;
  left: 50%;
  transform: translateX(-50%) translateY(20px);
  padding: 2px 65px;
  background: green;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 0.9rem;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  cursor: pointer;
}
.card-produto:hover .btn-carrinho {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
  pointer-events: auto;
}


