#home{
  min-height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(../img/fundo.jpg);
  background-size: cover;
}
header{
  position: fixed;
  font-family: Stencil Std, fantasy;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  z-index: 1000;
  background: transparent;
}
.menu{
  width: 100%;
}
.menu-pc {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 40px;
}
.li1, .li2, .li3 {
  display: flex;
  gap: 40px;
}
.menu-pc > * {
  margin: 0;
}
ul,a{
  list-style: none;
  text-decoration: none;
  color: white;
}
.menu-pc{
  display: flex;
  gap: 100px;
}
.logo {
  width: auto;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  height: 60px;
  width: auto;
  border-radius: 10px;
}
.li1 a,
.li2 a{
  position: relative;
  text-decoration: none;
  color: white;
  padding: 2.5px 0;
  display: inline-block;
}
.li1 a::after, 
.li2 a::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #00c11d;
  transform: scaleX(0);
  transition: transform 0.25s ease-out;
}
.li1 a::after{
  transform-origin: bottom right;
}
.li1 a:hover::after,
.li1 a.active::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}
.li2 a::after{
  transform-origin: bottom left;
}
.li2 a:hover::after,
.li2 a.active::after{
  transform: scaleX(1);
  transform-origin: bottom right;
}